@page
@model NguyenKhanhMinhRazorPages.Pages.SystemAccountPages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    String role = HttpContext.Session.GetString("UserRole");
    if (!("0").Equals(role))
    {
        Response.Redirect("/NotPermission");
    }
}

<h1>Edit</h1>

<h4>SystemAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" onsubmit="confirmUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SystemAccount.AccountId" />
            <input type="hidden" asp-for="SystemAccount.AccountPassword" />
            <input type="hidden" asp-for="SystemAccount.AccountEmail" />
            <div class="form-group">
                <label asp-for="SystemAccount.AccountName" class="control-label"></label>
                <input asp-for="SystemAccount.AccountName" class="form-control" />
                <span asp-validation-for="SystemAccount.AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemAccount.AccountEmail" class="control-label"></label>
                <input asp-for="SystemAccount.AccountEmail" class="form-control" disabled/>
                <span asp-validation-for="SystemAccount.AccountEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemAccount.AccountPassword" class="control-label"></label>
                <input asp-for="SystemAccount.AccountPassword" class="form-control" disabled />
                <span asp-validation-for="SystemAccount.AccountPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemAccount.AccountRole" class="control-label"></label>
                <select asp-for="SystemAccount.AccountRole" class="form-control" required>
                    <option value="1">Staff</option>
                    <option value="2">Lecturer</option>
                </select>
                <span asp-validation-for="SystemAccount.AccountRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

<script>
    function confirmUpdate() {
        return confirm("Are you sure you want to update this account?");
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
